body{
    background-color: #131316;
    color: #fff;
    padding: 0;
    margin: 0;
}

section{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    transition: all 2s;
}

.show {
    opacity: 1;
}