.item{
    /* height: 100px;
    width: 100px; */
    border: 1px solid yellowgreen;
}

.container{
    border: 1px solid rosybrown;
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: .2fr 1fr .3fr;
    height: 100vh;
}

header{
    grid-column: 1 / span 2;
    background-color: cornflowerblue;
}

aside{
    background-color: brown;
}

main{
    background-color: darkgray;
}

footer{
    background-color: darkblue;
    grid-column: 1 / span 2;
}