#link-1:hover::after{
    opacity: 1;
    cursor: pointer;
}

#link-1::after{
    content: '';
    position: absolute;
    background-color: #066BE4;
    height: 10%;
    width: 100%;
    left: -0px;
    bottom: -6px;
    opacity: 0;
}