nav>a{
    text-decoration: none;
    font-size: 20pt;
    display: block;
    text-align: center;
    padding: 5px;
    background-color: aquamarine;
    border: 1px solid;
}

.menu{
    font-size: 20pt;
    display: block;
    text-align: center;
    padding: 5px;
    background-color: #4b4747;
    border: 1px solid;
}

.menu img{
    width: 60px;
}

.menu:hover{
    cursor: pointer;
    background-color: #241f1f;
}

.sem-menu{
    display: none;
}
.com-menu{
    display: block;
}