.formulario{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    justify-content: space-around;
}

.formulario input{
    padding: 3px;
    border-radius: 10px;
}

.formulario button{
    border-radius: 10px;
}
