body{
    padding: 0;
    margin: 0;
    background-color: #ccc;
}

header{
    display: flex;
    justify-content: center;
    background-color: #79A7E4;
    margin-bottom: 100;
    z-index: 99;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 10px;
}

nav a{
    margin-right: 15px;
    text-decoration: none;
    font-size: 20pt;
    color: #172230;
}

nav a:hover{
    text-decoration: underline;
    color: aliceblue;
    transition: 500ms;
}

.tag-logo{
    width: 80px;
    margin-left: 15px;
}

main{
    width: 70%;
    margin: auto;
    text-align: justify;
    padding: 20px;
    box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.267);
    background-color: #fff;
    z-index: 0;
    margin-bottom: 20px;
}
p{
    text-align: justify;
}

.dev-img{
    width: 500px;
}

.paragrafo{
    font-size: 20pt;
    text-align: justify;
}

#corpo-html{
    width: 800px;
}