body{
    padding: 0;
    margin: 0;
}

.links li{
    display: inline;
    margin: 20px 0px 20px 10px;
}
.links{
    font-size: 20pt;
    font-weight: 800;
}

.links ul{
    padding-inline-start: 15px;
}

.links a{
    text-decoration: none;
}
#link-1 a{
    color: #066BE4;
}

#link-2 a{
    color: #06AA48;
}

#link-3 a{
    color: #FF6700;
}

#link-4 a{
    color: #FB0334;
}

#link-5 a{
    color: #FB0334;
}

#link-6 a{
    color: #0F335F;
}

#link-7 a{
    color: #1E4C9A;
}

#svg-g1{
    width: 50px;
}

.burguer{
    position: absolute;
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin-left: 10px;
}

.burguer::after{
    position: relative;
    top: -15px;
    height: 3px;
    content: "";
    background-color: #fff;
    width: 100%;
    display: inline-block;
}

.burguer::before{
    content: "";
    top: -23px;
    position: relative;
    background-color: #fff;
    display: inline-block;
    height: 3px;
    width: 100%;
}

.banner{
    background-color: #C4170C;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}


#search{
    height: 40px;
    width: 40px;
}

/* conteudo do site */

/* materia */

.materia{
    width: 95%;
    margin: auto; 
    font-size: 3vw;  
}

.materia h1{
    font-size: 6vw;
    color: #A6130A;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.post{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    width: 95%;
    margin: 50px auto 50px auto;
}

.titulo h1{
    font-size: 3vw;
    color: #A6130A;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.description{
    font-size: 2.3vw;
}

.date{
    font-size: 2vw;
}

.foto{
    border-radius: 15px;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.foto img{
    width: 100%;
    border-radius: 15px;
}

#bold{
    font-weight: 700;
    font-size: 25px;
    color: #333333
    ;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    color: #555555;
}

/* footer */

footer{
    background-color: #C4170C;
    padding: 20px;
}

footer span{
    display: block;
    margin: 10px;
    font-size: 26px;
    color: #fff;
}

footer a{
    display: block;
    margin: 10px;
    font-size: 26px;
    color: #fff;
    text-decoration: none;
}