

.conteiner{
    width: 800px;
    margin: 0 auto 0 auto;
    background-color: #fff;
    padding: 50px;
}

body{
    background-color: #ccc; 
}

img{
    border-radius: 15px;
}

.imagem{
    width: 100%;
    text-align: center;
}

h1{
    font-family: 'Courier New';
}

header{
    background-color: black;
    padding: 20px;
}
header a{
    color: white;
    font-size: 18pt;
}